*.pyc
.*.swp
.svn
.bzr
geraldo/tests/output/*.pdf
geraldo/tests/output/*.txt
geraldo/tests/output/*.png
examples/*.jpg
docs/build/
MANIFEST
build
dist
Geraldo.egg-info
*.egg
.DS_Store
*$py.class
site/fonts
site/layout

