{% extends "admin/gallery/base.html" %}

{% load pagination_tags %}

{% block content %}
<ul class="submenu">
    <li><a href="item/add/">Add new gallery item</a></li>
</ul>

{% autopaginate list %}

<table class="list">
    {% for item in list %}
    <tr>
        <td><a href="{{ item.get_absolute_url }}"><img src="{{ item.get_thumb_url }}"/></a></td>
        <td><a href="{{ item.get_absolute_url }}">{{ item }}</a></td>
        <td>{{ item.mimetype }}</td>
        <td>
            <a href="item/{{ item.id }}/">Edit</a> |
            <a href="item/{{ item.id }}/delete/">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% paginate %}

{% endblock content %}

