<!-- SiteSearch Google -->
<form method="get" action="http://www.google.com.br/custom" target="_top">
<table border="0" width="100%">
<tr><td nowrap="nowrap" valign="top" align="left" height="32">

</td>
<td nowrap="nowrap" align="center">
<input type="hidden" name="domains" value="geraldoreports.org"></input>
<label for="sbi" style="display: none">Digite os termos da sua pesquisa</label>
<input type="text" name="q" size="30" maxlength="255" value="" id="sbi"></input>
<label for="sbb" style="display: none">Enviar formulário de pesquisa</label>
<input type="submit" name="sa" value="Search by Google" id="sbb"></input>
</td></tr>
<tr>
<td>&nbsp;</td>
<td nowrap="nowrap" align="center">
<table>
<tr>
<td>
<input type="radio" name="sitesearch" value="" id="ss0"></input>
<label for="ss0" title="Search in the web"><font size="-1" color="#000000">Web</font></label></td>
<td>
<input type="radio" name="sitesearch" value="geraldoreports.org" checked id="ss1"></input>
<label for="ss1" title="Search in geraldoreports.org"><font size="-1" color="#000000">geraldoreports.org</font></label></td>
</tr>
</table>
<input type="hidden" name="client" value="pub-8685093211117661"></input>
<input type="hidden" name="forid" value="1"></input>
<input type="hidden" name="ie" value="ISO-8859-1"></input>
<input type="hidden" name="oe" value="ISO-8859-1"></input>
<input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#336699;VLC:663399;AH:center;BGC:FFFFFF;LBGC:336699;ALC:0000FF;LC:0000FF;T:000000;GFNT:0000FF;GIMP:0000FF;LH:18;LW:100;L:http://www.geraldoreports.org/media/img/logo-white.png;S:http://www.geraldoreports.org/;LP:1;FORID:1"></input>
<input type="hidden" name="hl" value="pt"></input>
</td></tr></table>
</form>
<!-- SiteSearch Google -->
